<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link"
           routerLinkActive='active'
           [routerLink]="['control']">FormControl</a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
           routerLinkActive='active'
           [routerLink]="['group']">FormGroup / Validators </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
           routerLinkActive='active'
           [routerLink]="['example/1']">Example 1</a>
    </li>

</ul>

<router-outlet></router-outlet>